- @page_title = "Home"
- @page_description = ""

.breadcrumbs{"data-module" => "track-click"}
  %ol
    %li
      = link_to "Service Toolkit", "https://www.gov.uk/service-toolkit", target: :blank
    %li
      = link_to "Registers", root_path
    %li Prison register

.container#main
  .grid-row
    .column-two-thirds
      .panel.panel-border-wide.phase
        %span.phase-tag In progress
        %p This data is in progress and it’s not ready for use. <a href="http://google.com">Get in touch</a> to give us feedback.

  .grid-row
    .column-two-thirds
      %h1.heading-xlarge.register-name Prison register
      %dl.metadata
        %dt Updated:
        %dd 31/01/16
        %dt Custodian:
        %dd Peter Smith

      %p The Prison Estate in England and Wales, including public and contracted prisons, NOMS Immigration Removal Centres operated on behalf of the Home Office and Secure Training Centre

      %details{:role => "group"}
        %summary{"aria-controls" => "details-content-0", "aria-expanded" => "false", :role => "button"}
          %span.summary What are Registers?
        #details-content-0.panel.panel-border-narrow{"aria-hidden" => "true"}

          %p Registers are reliable lists of information managed by one custodian from the government organisation responsible for maintaining the Register’s data.

          %p You can easily combine data from some Registers with data from another Register to build your service. For example, this Register can be combined with the <a href="">Territory Register</a>.

          %p
            = link_to "Using Registers", "https://registers.cloudapps.digital/using-registers"
            %br
            = link_to "Register's collection", "https://registers.cloudapps.digital/registers"
            %br
            = link_to "API documentation", "https://registers-docs.cloudapps.digital/#api-documentation-for-registers"

      %details{:role => "group"}
        %summary{"aria-controls" => "details-content-0", "aria-expanded" => "false", :role => "button"}
          %span.summary How do I use a Register in my service?
        #details-content-0.panel.panel-border-narrow{"aria-hidden" => "true"}
          %p There are 2 ways to use Registers. You can either:
          %ul.bullet-list
            %li use an <a href="https://registers-docs.cloudapps.digital/#api-documentation-for-registers">application programming interface</a> (API) to automatically pull data from a register into your service
            %li download the data for this Register and keep your own copy up-to-date

    .column-one-third.about
      %h2.heading-small Managed by
      %div{class: "govuk-organisation-logo"}
        %span.logo-container.logo-with-crest.crest-single-identity
          %span
            Ministry
            %br
            of Justice
      %h2.heading-small Find out more
      %ul
        %li
          = link_to "Register updates", "#main"
        %li
          = link_to "API documentation", "https://registers-docs.cloudapps.digital/#api-documentation-for-registers"
        %li
          = link_to "Create a register", "https://www.gov.uk/guidance/creating-a-register"
        %li
          = link_to "Contact the team", "https://registers.cloudapps.digital/support"

  .search-wrapper
    .grid-row
      .column-full
        .form-group
          %label.form-label{:for => "select-box"} Filter by
          %select#select-box.form-control{:name => "select-box"}
            %option Current records
            %option Expired records
            %option Current and expired records
        .form-group
          %label Search for a record
          = form_tag prisons_path, method: 'get', id: "search", class: "site-search" do
            .content
              = text_field_tag :search, params[:search], title: "Search", type: "search", id: "site-search-text", class: "js-search-focus"
    .grid-row
      .column-two-thirds.search-results
        %h2.heading-large 151 records
        %details{:role => "group"}
          %summary{"aria-controls" => "details-content-0", "aria-expanded" => "false", :role => "button"}
            %span.summary Download this data
          #details-content-0.panel.panel-border-narrow{"aria-hidden" => "true"}
            .download-options
              %p View as:
              %ul
                %li= link_to "JSON", "#"
                %li= link_to "YAML", "#"
                %li= link_to "TTL", "#"
              %p Download as:
              %ul
                %li= link_to "TSV", "#"
                %li= link_to "CSV", "#"
                %li= link_to "Spreadsheet", "#"
              %p Note: the spreadsheet formatting may affect any special characters contained in the data.

        %details{:role => "group"}
          %summary{"aria-controls" => "details-content-0", "aria-expanded" => "false", :role => "button"}
            %span.summary What are the column headings?
          #details-content-0.panel.panel-border-narrow{"aria-hidden" => "true"}
            %dl
              %dt Prison:
              %dd A part of the Prison Estate in England and Wales, including public and contracted prisons, and NOMS Immigration Removal Centres
              %dt Name:
              %dd The commonly-used name of a record.
              %dt Operator:
              %dd An entity performing an operational role.
              %dt Address:
              %dd An address in the UK
              %dt Change-date:
              %dd A character (either 1 or n) that explains if a field in a register can contain multiple values.
              %dt Start-date:
              %dd The date a record first became relevant to a register.
              %dt End-date:
              %dd The date a record stopped being applicable.

  .grid-row
    .column-one-whole.scroll-wrapper
      - if @prisons.present?
        %img.scroll-right{src: image_path("arrow_right.svg")}
        .table-wrapper#records
          %table
            %col{width: "10%"}
            %col{width: "25%"}
            %col{width: "12.5%"}
            %col{width: "12.5%"}
            %col{width: "20%"}
            %col{width: "20%"}
            %thead
              %tr
                %th= sort_link "code", "Code"
                %th= sort_link "name", "Prison name"
                %th= sort_link "organisation", "Operator"
                %th= sort_link "address", "Address"
                %th= sort_link "opened", "Opened"
                %th= sort_link "closed", "Closed"
                %th Extra column
                %th Extra column
                %th Extra column

            %tbody
              - @prisons.each do |prison|
                %tr
                  %td= prison.code
                  %td= prison.name
                  %td= prison.organisation.present? ? prison.organisation : "<span class='unknown'>No data found</span>".html_safe
                  %td= prison.address.present? ? prison.address : "<span class='unknown'>No data found</span>".html_safe
                  %td= prison.opened.present? ? prison.opened.strftime("%d/%m/%Y") : "<span class='unknown'>No data found</span>".html_safe
                  %td= prison.closed.present? ? prison.closed.strftime("%d/%m/%Y") : "<span class='unknown'>No data found</span>".html_safe
                  %td Extra cell
                  %td Extra cell
                  %td Extra cell


      - else
        %h4 Sorry, no prisons found for #{params[:search]}
      %p.load-records
        = link_to "Load more records", "https://registers.cloudapps.digital/using-registers"

